footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 3rem;
    padding-bottom: 1rem;

    margin-top: 3rem;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: .5rem;
        border-radius: .7rem;
        color: var(--secColor);

        font-family: textfont;

        transition: all .4s ease;

        svg {
            height: 2.3rem;
            width: 2.3rem;
            color: var(--accent);
        }

        &:focus-visible {
            border: .2rem solid var(--accent);
        }

        &:hover {
            background: var(--tpPri2);
        }

        &:active {
            background: var(--accent);
        }
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        font-family: textfont;

        a {
            color: var(--accent);
        }
    }
}

@media (max-width: 1000px) {
    footer {
        justify-content: center;
        align-items: center;
        padding-inline: .2rem;

        .repo {
            order: 1;
        }

        .socials {
            order: 0;
            gap: .3rem;
            position: relative;

            &::after{
                content: '';
                flex-grow: 1;
                height: 2rem;
                width: .2rem;
                background-color: var(--holiday);
                display: block;
            }
        }

        .legal {
            order: 2;
        }
    }
}