:root {
    --secColor: rgb(228, 228, 228);
    --priColor: rgb(0, 0, 0);
    --tpPri: rgb(75, 75, 75);
    --tpPri2: rgb(41, 41, 41);
    --tpPri3: rgb(20, 20, 20);
    --tpSec: hsl(0, 0%, 30%);
    --tpSec2: hsl(0, 0%, 25%);
    --secAccent: hsl(35, 100%, 42%);
    --accent: hsl(44, 100%, 50%);
    --tertAccent: rgb(235, 152, 36);
    --shadowColor: rgba(0, 0, 0, 0.05);
    --paleAccent: hsla(44, 100%, 50%, 0.678);

    --holiday: hsl(193, 100%, 43%);
    --warningRed: rgba(236, 1, 44, 0.883);
}